# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
app.py
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vk.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vk.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vk.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vl.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vl.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vl.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vm.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vm.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vm.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vn.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vn.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vn.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vo.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vo.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vo.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vp.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vp.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vp.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vq.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vq.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vq.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vr.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vr.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vr.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vs.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vs.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vs.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vt.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vt.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vt.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vu.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vu.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vu.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vv.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vv.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vv.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vw.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vw.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vw.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vx.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vx.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vx.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vy.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vy.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vy.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vz.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vz.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19vz.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w0.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w0.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w0.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w1.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w1.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w1.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w2.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w2.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w2.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w3.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w3.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w3.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w4.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w4.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w4.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w5.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w5.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w5.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w6.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w6.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w6.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w7.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w7.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w7.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w8.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w8.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w8.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w9.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w9.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19w9.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wa.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wa.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wa.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wb.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wb.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wb.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wc.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wc.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wc.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wd.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wd.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wd.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19we.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19we.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19we.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wf.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wf.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wf.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wg.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wg.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wg.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wh.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wh.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wh.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wi.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wi.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wi.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wj.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wj.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wj.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wk.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wk.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wk.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wl.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wl.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wl.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wm.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wm.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wm.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wn.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wn.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_19wn.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_bhe.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_bhe.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_bhe.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_dhn.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_dhn.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_dhn.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_fhw.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_fhw.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_fhw.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_hi5.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_hi5.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_hi5.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_jie.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_jie.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_jie.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_lin.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_lin.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_lin.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_niw.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_niw.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_niw.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_pj5.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_pj5.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_pj5.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_rje.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_rje.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_rje.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_tjn.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_tjn.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_tjn.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_vjw.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_vjw.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_vjw.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_xk5.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_xk5.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_xk5.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_zke.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_zke.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_zke.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/segments_dy
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/write.lock
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_3ge.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_3ge.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_3ge.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_5gn.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_5gn.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_5gn.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_7gw.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_7gw.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_7gw.si
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_9h5.cfe
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_9h5.cfs
data/Neo4j/databases/neo4j/schema/index/vector-2.0/3/1/_9h5.si
